.itemContainer {
  display: flex;
  flex-direction: row;
  width: 48%;
  min-width: 600px;
  height: 100px;
  background-color: rgb(185, 185, 185);
  justify-content: center;
  align-items: center;
  box-shadow: 3px 4px 1px white;
  transition: all 0.1s ease-in-out;
}

.text {
  font-size: 1.9rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  margin-left: 1rem;
}

.itemContainer:hover {
  transform: scale(1.02);
  cursor: pointer;
}

@media (max-width: 700px) {
  .itemContainer {
    min-width: 350px;
    width: 90%;
  }
}

@media (max-width: 400px) {
  .itemContainer {
    min-width: 300px;
    width: 90%;
  }
}
