.appBarContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 4rem;
  background-image: linear-gradient(
    to left,
    #dc37eb 0%,
    #f341cc 51%,
    #fd3ef4 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  font-size: 1.3rem;
}

.logoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.navButtonContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0px;
  transition: 0.5s;
}

.navButtonDecorator {
  width: 0%;
  border: 1px solid transparent;
  background-color: transparent;
  margin-top: -20px;
  transition: 0.2s;
}

.navButtonDivider {
  border: 1px solid white;
  background-color: white;
  height: 110%;
}

.navButtonText {
  margin-top: -2px;
}
.navButtonText:hover {
  cursor: pointer;
}

.navButtonText:hover + .navButtonDecorator {
  border: 1px solid white;
  background-color: white;
  width: 100%;
}

@media (max-width: 450px) {
  .buttonsContainer {
    display: none;
  }

  .appBarContainer {
    justify-content: center;
    height: 5rem;
  }

  .logoContainer > p {
    font-size: 2rem;
  }
}
