.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url("../assets/bg7.png");
  padding-top: 3rem;
  background-repeat: repeat;
  color: white;
  flex-direction: row;
}

.sideProfileContainer {
  width: 30%;
}

.gridContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 1rem;
  margin: 2rem 0rem 1rem 0rem;
  margin-left: -3rem;
  overflow: auto;
  overflow-y: scroll;
}

.gridContainer::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

.gridContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

.gridContainer::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

.title {
  width: 70%;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
  .gridContainer {
    justify-content: center;
  }

  .guessSection {
    width: 80%;
    height: 20%;
    background-color: white;
    min-width: none;
  }
}
