.itemContainer {
  width: 48%;
  height: 100px;
  min-width: 600px;
  background-color: rgb(185, 185, 185);
  box-shadow: 3px 4px 1px white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  transition: all 0.1s ease-in-out;
}

.divider {
  border: 1px solid rgb(49, 49, 49);
  background-color: rgb(49, 49, 49);
  height: 80%;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  padding-right: 1rem;
}

.button {
  background-color: #000000;
  border: 0px;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  transition: borer-radius 0.3 ease-in-out;
}

.button:hover {
  cursor: pointer;
  transform: scale(0.98);
  border-radius: 30px;
}

@media (max-width: 700px) {
  .itemContainer {
    min-width: 350px;
    width: 90%;
  }

  .buttonsContainer {
    display: none;
  }

  .itemContainer:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}

@media (max-width: 400px) {
  .itemContainer {
    min-width: 300px;
    width: 90%;
  }
}
