.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/bg7.png");
  background-repeat: repeat;
  /*background: #000000;*/
  /*background: rgb(107, 215, 255);*/
  /*background: linear-gradient(
    90deg,
    rgba(107, 215, 255, 1) 0%,
    rgba(95, 176, 254, 1) 35%,
    rgba(54, 182, 222, 1) 67%,
    rgba(84, 183, 219, 1) 100%
  );*/
}

.inputContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputWord {
  height: 3rem;
  width: 80%;
  padding: 10px;
  font-size: 1.2rem;
  margin-top: 0.7rem;
  border: 0px;
}

.inputWord:focus {
  border: 3px solid rgb(255, 75, 231);
}

.submitButton {
  flex: 1 1 auto;
  margin-top: 1.7rem;
  width: 50%;
  height: 2.5rem;
  /*background-image: linear-gradient(
    90deg,
    rgba(166, 16, 187, 1) 0%,
    rgba(237, 54, 234, 1) 99%
  );*/
  background-image: linear-gradient(
    to right,
    #dc37eb 0%,
    #f341cc 51%,
    #fd3ef4 100%
  );
  font-weight: bold;
  color: white;
  font-size: 1rem;
  background-size: 200% auto;
  transition: background-position 0.3s, box-shadow 0.2s;
  border: 0px;
  text-shadow: 1px 1px 2px black;
  box-shadow: 6px 6px 5px black;
}

.submitButton:hover {
  background-position: right center;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}

.submitButton:active {
  background-position: left center;
  font-size: 0.98rem;
  box-shadow: 2px 2px 2px black;
}

.textCenter {
  text-align: center;
}

.mainBox {
  width: 30%;
  height: 40%;
  color: white;
  background: rgb(24, 24, 24, 0.9);
  border-radius: 10px;
  text-shadow: 1px 1px 2px black;
  max-height: 250px;
  min-width: 350px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
