.hidden {
  display: none;
}

.inputFileButton {
  width: 120px;
  height: 120px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  background-size: contain;
  transition: all 0.2s ease-in;
  margin-bottom: 1rem;
}

.inputFileButton:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.buttonLabel {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px;
}

.inputFileButton:hover + .buttonLabel {
  background-color: rgba(0, 0, 0, 0.4);
}
