.itemOptionContainer {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  gap: 1rem;
}

.optionText {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.imageOption {
  border: 2px solid white;
  border-radius: 100px;
  height: 50px;
}

@media (max-width: 400px) {
  .imageOption {
    display: none;
  }
}
