.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBox {
  width: 30%;
  min-width: 400px;
  height: auto;
  color: white;
  background: rgb(24, 24, 24, 0.9);
  border-radius: 10px;
  box-shadow: 5px 5px 1px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 3px 3px 1px rgb(0, 0, 0);
  margin: 0;
}

.inputWord {
  height: 3rem;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  margin-top: 0.7rem;
  border: 0px;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.inputsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.inputLabel {
  margin: 0;
  font-size: 1.7rem;
  font-weight: bold;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  letter-spacing: 1px;
}

.submitButton {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
  height: 60px;
  background-image: linear-gradient(
    to right,
    #dc37eb 0%,
    #f341cc 51%,
    #fd3ef4 100%
  );
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  background-size: 200% auto;
  transition: background-position 0.3s, box-shadow 0.2s;
  border: 0px;
  text-shadow: 1px 1px 2px black;
  box-shadow: 4px 4px 2px black;
  border-radius: 5px;
}

.submitButton:hover {
  background-position: right center;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}

.submitButton:active {
  background-position: left center;
  font-size: 1.49rem;
  box-shadow: 2px 2px 2px black;
}

.inputWord:hover {
  box-shadow: 5px 5px 1px black;
}

.inputWord:focus {
  box-shadow: 5px 5px 1px black;
}

.errorLabel {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: -20px;
  border-radius: 2px;
  padding: 2px;
  margin-bottom: 1rem;
  align-self: flex-end;
  border-bottom: 1px solid red;
  font-size: 0.9rem;
}

@media (max-width: 1280px) {
  .title {
    font-size: 1.5rem;
  }

  .inputLabel {
    font-size: 1rem;
  }

  .inputWord {
    height: 2.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .submitButton {
    width: 40%;
    height: 40px;
    font-size: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
}

@media (max-width: 400px) {
  .formBox {
    min-width: 350px;
    height: 70%;
  }

  .title {
    font-size: 2.5rem;
  }

  .inputLabel {
    font-size: 1.3rem;
  }
}
