.container {
  width: 100vw;
  height: 100vh;
  padding-top: 3rem;
}

.gridContainer {
  display: flex;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  overflow-y: scroll;
  padding-left: 2.5rem;
  margin-top: 3rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  overflow-x: hidden;
}

.gridContainer::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

.gridContainer::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

.gridContainer::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

.insideContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
