.container {
  width: 100vw;
  height: auto;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 6rem;
  padding-right: 6rem;
}

.avatarImage {
  border: 5px solid white;
  border-radius: 120px;
}

.mainText {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  margin: 0;
  margin-left: 4rem;
  text-shadow: 1px 1px 2px black;
}

.secondaryText {
  font-size: 2rem;
  color: white;
  margin: 0;
  margin-left: 4rem;
  text-shadow: 2px 1px 2px black;
}

@media (max-width: 1080px) {
  .mainText {
    font-size: 3rem;
  }

  .secondaryText {
    font-size: 1.5rem;
  }

  .avatarImage {
    height: 180px;
    width: 180px;
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1280px) {
  .mainText {
    font-size: 1.5rem;
  }

  .secondaryText {
    font-size: 1rem;
  }

  .avatarImage {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 400px) {
  .mainText {
    font-size: 2rem;
  }

  .secondaryText {
    font-size: 1rem;
  }

  .avatarImage {
    height: 100px;
    width: 100px;
  }
}
