.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.subtitle {
  margin: 0;
  margin-bottom: 1.3rem;
  font-size: 1rem;
}

.formContainer {
  display: flex;
  margin-top: 1.3rem;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 1rem;
  justify-content: center;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: grey;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
}

.inputWord {
  height: 3rem;
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  width: 100%;
  margin-bottom: 0.5rem;
}

.inputFile {
  height: 3rem;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  width: 100%;
  margin-bottom: 0.5rem;
}

.inputLabel {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.7rem;
  font-weight: bold;
}

.finishButton {
  float: right;
  margin-top: 2rem;
  height: 2.5rem;
  width: 10rem;
  border: 0px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: transform 0.1s ease-in-out;
  margin-bottom: 1rem;
}

.finishButton:hover {
  transform: scale(0.98);
  background-color: rgb(26, 26, 26);
  cursor: pointer;
}

.finishButton:active {
  background-color: black;
}

@media (max-width: 1000px) {
  .inputContainer {
    width: 100%;
  }
}
