.questionContainer {
  width: 45%;
  height: 30%;
  background-color: #2a2a2a;
  opacity: 1;
  background: repeating-linear-gradient(
    45deg,
    #101010,
    #101010 5px,
    rgb(43, 43, 43, 0.8) 5px,
    rgb(43, 43, 43, 0.8) 25px
  );
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px dotted white;
}

.innerQuestionText {
  display: block;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 0.2rem 1rem 0.2rem 1rem;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 30px;
  text-shadow: 1px 1px 2px black;
}

.questionButton {
  width: 40%;
  height: 70%;
  background-color: white;
  border-radius: 200px;
  background-size: contain;
  background-size: 120%;
  /*box-shadow: 2px 2px 1px white;*/
  border: 3px solid white;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionButton:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.questionButton:hover + .innerQuestionText {
  background-color: rgb(0, 0, 0, 0.5);
}
