.sideProfileContainer {
  width: 30%;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageShadows {
  border: 5px solid white;
  border-radius: 100px;
}

.textName {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: -0.2rem;
}

.infoContainer {
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 2rem;
  border-radius: 5px;
  min-width: 300px;
  margin-top: 1rem;
}

.textShadow {
  text-shadow: 1px 1px 2px black;
}

.finishButton {
  width: 50%;
  height: 50px;
  background-image: linear-gradient(
    to right,
    #dc37eb 0%,
    #f341cc 51%,
    #fd3ef4 100%
  );
  font-weight: bold;
  color: white;
  font-size: 1rem;
  background-size: 200% auto;
  transition: background-position 0.3s, box-shadow 0.2s;
  border: 0px;
  text-shadow: 1px 1px 2px black;
  box-shadow: 6px 6px 5px black;
  margin-top: 1rem;
}

.finishButton:hover {
  background-position: right center;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}

.finishButton:active {
  background-position: left center;
  box-shadow: 2px 2px 2px black;
  transform: scale(0.99);
}

.anonymousCheckbox {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkboxStyle {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.checkboxText {
  font-size: 1rem;

  letter-spacing: 1px;
  text-shadow: 1px 1px 2px black;
}

@media (max-width: 1280px) {
  .sideProfileContainer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .imageShadows {
    width: 100px;
    height: 100px;
  }

  .checkboxText {
    font-size: 0.9rem;
  }
}
